@tailwind base;
@tailwind components;
@tailwind utilities;

.border {
    @apply border-black border-2
}


body {
    width: 550px;
    height: 729px;
}

#body-part-1 {
    height: 285px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#checkbox:checked + label .switch-ball{
    background-color: black;
    transform: translateX(24px);
    transition: transform 0.1s linear;
  }